.cat-item {
  border: 1px solid #999;
  border-radius: 4px;
  margin: 1em;
}

.cat-item__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.cat-item__fact {
  font-style: italic;
  padding: 0 1em;
}
